html, body {
    padding: 0;
    margin: 0;
    font-family: "lato", Arial, Helvetica, sans-serif;
}

.topbar {
    background-color: #ff6b28;
    text-align: center;
    padding: 15px;
}

#bolo {
    background: url('./images/hero_bolo.jpg');
    height: 400px;
    background-size: cover;
    background-position: center;
}

.container {
    font-size: 26px;
    max-width: 990;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    color: #ff6b28;
}

.botao {
    font-size: 20px;
    background-color: #ff6b28;
    color: white;
    padding: 15;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.adicionais {
    font-size: 20px;
    padding: 70px;
    margin: 40px;
    line-height: 30px;
    cursor: url('/images/cursor_intrucoes.png'), pointer;
}

.lista1 {
    font-size: 20px;
    line-height: 40px;
    padding: 70px;
    margin: 40px;
    cursor: url('./images/cursor_ingredientes.png'), pointer;
}

.lista2 {
    font-size: 20px;
    line-height: 40px;
    padding: 70px;
    margin: 40px;
    cursor: url('./images/cursor_preparo.png'), pointer;
}

.borda {
    border: 1px solid;
    margin: 0;
    margin-top: 50px;
    border-radius: 20px;
    border: hidden;
}

div {
    display: block;
}

.borda:hover {
    display: block;
    box-shadow: 8px 8px 15px 12px #404040;
}

.rodape {
    background-color: #ff6b28;
    height: 50px;
    text-align: center;
    font-size: 16px;
    padding: 30px;
    text-decoration: none;
}

.suport {
    color: white;

}


a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}
